@use "./variables.scss";

#root {
    background-image: url(../../img/bg.png);
    background-attachment:fixed;
    margin:0;
    padding:0;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

h1, h2, h3, h4 {
    font-family:DancingScript;
    font-size:80px;
    text-align:center;
    margin-top:10vh;
    color:variables.$text-color;
}

h2, h3, h4 {
    font-family:DancingScript;
    font-size:40px;
    text-align:center;
    margin-top:10vh;
    color:variables.$text-color;
}