$text-color: #203863;
$text-highlight: #6B6E99;

@font-face {
  font-family: 'DancingScript';
  src: local('DancingScript'), url('../../../public/font/DancingScript-VariableFont_wght.ttf') format('ttf');
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: local('PlayfairDisplay'), url('/font/PlayfairDisplay-VariableFont_wght.ttf') format('ttf');
}