@use "../theme/variables.scss";

.map-container {
    height:35vh;
    width: 35vw;
    margin:10vh auto;
    border:3px solid variables.$text-color;
    border-radius:3px;

    iframe {
        height:100%;
        width:100%;
    }
}

.photo-section {
display:flex;
flex-direction:row;
justify-content:center;
margin:0vw 5vw 0vw 5vw;
padding: 10vh 0;
gap:5vw;

    p {
        font-family:PlayfairDisplay;
        color:variables.$text-color;
        width:35vw;
        font-size:25px;
        margin:auto 0 auto 0;

        a {
            color:variables.$text-highlight;

            &:hover {
                color:variables.$text-color;
                cursor:pointer;
            }
        }
    }

    .divider {
        height:25vh;
        width:1px;
        background-color:variables.$text-color;
        margin:auto 0 auto 0;
    }

    .home-photo-container {
        width:40vw;

        img {
            height:100%;
            width:100%;
            object-fit:contain;
        }
    }
}

.contact-section {
    ul {
        font-family:PlayfairDisplay;
        display:flex;
        flex-direction:row;
        justify-content:center;
        gap:7vw;
        padding: 5vh 0;
        text-align:center;

        .contact-title {
            font-family:DancingScript;
            font-size:25px;
            margin-bottom:2vh;
        }

        .contact-sub {
            font-size:20px;
        }

        a {
            display:block;
            height:10vh;
            width:10vw;
            overflow:hidden;

            img {
                filter: invert(44%) sepia(11%) saturate(1245%) hue-rotate(198deg) brightness(97%) contrast(89%);
                height:100%;
                width:100%;
                object-fit:contain;

                &:hover {
                    filter:invert(19%) sepia(13%) saturate(2962%) hue-rotate(179deg) brightness(98%) contrast(91%);
                }
            }
        }
    }
}