@use "../theme/variables.scss";

.product_details {

    h1 {
        text-align:center;
        font-size:60px;
        margin-bottom:10vh;
    }

    .product_details_intro {
        margin:10vh auto;
        width:50vw;
        text-align:center;
        font-family:PlayfairDisplay;
        color:variables.$text-color;
        font-size:25px;
    }

    .product_details_section {


        strong {
            display:block;
            width:100%;
            text-align:center;
            font-family:dancingScript;
            font-size:40px;
            color:variables.$text-color;
        }

        .product_details_box {
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        background-color:white;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
        margin:5vh auto;
        border-radius:15px;
        overflow:hidden;
        width:70vw;

        .product_details_img_container {
            width:25vw;
            height:60vh;

            img {
                height:100%;
                width:100%;
                object-fit:cover;
            }

        }

        .product_details_paragraph {
            width:20vw;
            font-size:25px;
            flex:1;
            text-align:center;
            margin:auto 5vw;
            color:variables.$text-color;
        }

        }

    }

    .item {
        height:35vh;
        width:35vw;
        overflow:hidden;
        margin: 0 auto;

        img{
            object-fit:cover;
            height:100%;
            width:100%;
        }
    }
}